/* GLOBAL */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
    margin: 0;

}

html {
    font-size: 6.25%; /* Reset REM 10px=1EM*/
    height: 100%;
}

body{
    font-size: 16rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e570e7+0,c85ec7+49,a849a3+100 */
    background: #e570e7; /* Old browsers */
    background: -moz-linear-gradient(top,  #e570e7 0%, #c85ec7 49%, #a849a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e570e7 0%,#c85ec7 49%,#a849a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e570e7 0%,#c85ec7 49%,#a849a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100%;
    background-attachment: fixed;
}

.logo{
    margin: 20rem 0;
}

header{
    text-align: center;
}

img{
    max-width: 100%;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
}

.hero{
    margin-bottom: 40rem;
}

h2{
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 30rem;
}

.lista-productos{
    margin-top: 40rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.lista-productos li{
    flex: 0 0 50%;
    text-align: center;
    padding: 20rem;
}

.lista-productos li img{
    border: 10rem solid rgba(128, 1, 195, 0.5);    
    transition: border-color 0.5s ease-in-out;
}

.lista-productos li img:hover{
    border: 10rem solid rgba(53, 0, 82, 0.5);    
}

p{
    margin-top: 10rem;
    font-size: 20rem;
    font-weight: 700;
}

.precio{
    color: #b3b307;
    font-weight: 900;
    font-size: 24rem;
    
}

.btn{
    background-color: #b3b307;
    display: inline-block;
    margin-top: 10rem;
    padding: 10rem 40rem;
    border-radius: 5rem;
    text-decoration: none;
    color: #5c065c;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.btn:hover{
    background-color: #5c065c;
    color:rgb(179, 179, 7)
}


@media (min-width: 768px) {
    .lista-productos li{
        flex: 0 0 33.33%;
        
    }   
}
